
  
   <div class='css_margin post'>
   <h3>Что такое Viki5?</h3> <br>
      
   Viki5 - это социальная сеть для стартаперов.
  
   
   С помощью данной социальной сети вы сможете:
   <br><br>
   1) обмениваться идеями для стартапа<br>
   2) находить людей (партнеров,  сотрудников) в команду<br>
   3) находить пользователей и клиентов для вашего стартапа<br>
   4) находить менторов и инвесторов<br>
   5) делиться историей создания и развития вашего стартапа
   
   <br><br>
   <h3>Кто такой стартапер?</h3> <br>
   
   Стартапер - это человек, корый поставил перед собой цель увеличить свой доход с нуля 
   до 250 тысяч рублей в месяц. При этом для достижения данной цели у стартапера есть только три ресурса: <br><br>
   1) своя голова<br>
   2) свои руки<br>
   3) свое свободное время<br><br>
   
   <h3>И что мне делать? Шаг первый</h3>
   
    <br>Задай себе вопрос - а ты, вообще хочешь иметь доход 250 тысяч рублей в месяц, или нет?
    Или тебе и так нормально живется?<br><br>
   Если не хочешь, тогда можешь ничего не делать, просто читай блоги других стартаперов и наблюдай
   за тем, как они будут достигать своих целей.<br><br>
   Если же ты на самом деле хочешь иметь доход 250 тысяч рублей в месяц, тогда:<br><br>
   
    <h3>Шаг второй</h3> <br>
    
    Тебе нужно запилить свой стартап. А у тебя уже есть идея для стартапа?<br><br>
   Если идеи нет, тогда зарегистрируйся на Viki5 и напиши своем блоге "Привет всем! Я хочу 
   запилить свой стартап, но у меня нет идеи чем заняться. Накидайте мне идей для стартапа!"<br><br>
   Если же идея у тебя уже есть, тогда:<br><br>
   
   <h3> Шаг третий</h3> <br> Составь список ресурсов, которые тебе необходимы для реализации твоей
   идеи   и задай себе вопрос, а у тебя уже есть в наличии все эти ресурсы?<br><br>
   Если окажется что каких-то ресурсов у тебя нет, тогда    сделай запрос недостающих ресурсов
   у окружающих тебя людей.<br><br>
   Для того чтобы сделать запрос ресурсов зарегистрируйся на Viki5 и напиши своем блоге "Привет всем! Я хочу 
   запилить свой стартап. Мой стартап представляет из себя следующее (рассказываешь про идею
   своего стартапа). Для реализации данного стартапа
   мне нужны (перечисляешь ресурсы которых тебе нехватает). Если у вас есть
   указанные выше ресурсы, то
   становитесь моим партнером (ментором, инвестором, сотрудником, клиентом). Пишите/звоните мне 
   по следующим контактам (указываешь свои контактные данные)"
   <br><br>
   Если же все необходимые ресурсы для старта проекта у тебя есть, тогда:<br><br>
   
    <h3>Шаг четверый </h3> <br>А чего тогда сидишь?<br><br> Регистрируйся на Viki5 и обьявляй в своем блоге о старте
   своего проекта. А затем, для того чтобы сохранять мотивацию и привлекать внимание 
   окружающих людей к своему стартапу, ежедневно рассказывай в своем блоге о том, 
   что ты делаешь для развития своего стартапа.
   
   <br><br>
  <a class="css_button_menu onepix" href="/"> Перейти в ленту новостей</a>
                
              
   <br><br>
  
   </div>