
  
   <div class='css_margin post'>
   <h3>Что такое Viki5?</h3> <br>
      
   Viki5 - это социальная сеть для стартаперов.
  
   
   С помощью данной социальной сети вы сможете:
   <br><br>
   1) обмениваться идеями для стартапа<br>
   2) находить людей (партнеров,  сотрудников) в команду<br>
   3) находить пользователей и клиентов для вашего стартапа<br>
   4) находить менторов и инвесторов<br>
   5) делиться историей создания и развития вашего стартапа
   
   <br><br>
  
  <a class="css_button_menu onepix" href="/"> Перейти в ленту новостей</a>
                
              
   <br><br>
  
   </div>