
<br>
 <form method="POST"  enctype="multipart/form-data"  action="/settings" class=" "  >
              
  
                <label >Имя</label> <br>
                <input name="name" type="text" class="form-control  " placeholder=""
                value="<%= @current_user.name %>">
                <br><br>
                <label >Аватар</label> <br>
                <img id="" class="image_preview" src="<%= @current_user.avatar.url unless @current_user.avatar.nil? %>" alt="" border="0">
                <br>
                <input type="file" name="avatar" class="post_picture_input" style = "display: none"  >
                
               
                
                <a class="js_add_post_picture  css_button_menu add_foto_menu" href="#"><%= @current_user.avatar.url.nil? ? 'добавить аватар' : 'сменить аватар' %></a>
                
               <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				
                <button type="submit" class=" css_button_menu wide">СОХРАНИТЬ ИЗМЕНЕНИЯ</button>  
                 
    </form>
    <br>
   