<div class=margin10>

 <form method="POST"  enctype="multipart/form-data"  action="/settings" class=" "  >
              <% if @new_user %>
              
              Вы удачно вошли в социальную сеть Viki5.<br>
              Для завершения регистрации введите ваше имя и установите аватар.<br>
              <%end %>
  <br>
                <label >Имя</label> <br>
                <input name="name" maxlength="27" type="text" class="form-control  " placeholder=""
                value="<%= @current_user.name %>">
                <br><br>
               
               
                <label >Аватар</label> <br>
                 <div style='float:left; width:200px; height:200px'>
                <img id="" class="image_preview" src="<%= @current_user.avatar.url unless @current_user.avatar.nil? %>" alt="" border="0">
                <br>
               
                </div>
               <div>
                <br>
                 <input type="file" name="avatar" class="post_picture_input" style = "display: none"  >
                <a class="js_add_post_picture  s_submit_button" href="#"><%= @current_user.avatar.url.nil? ? 'добавить аватар' : 'сменить аватар' %></a>
                <br><br>
               <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				
                <button type="submit" class=" s_submit_button">сохранить изменения</button>  
                 <br><br>
    </form>
    <br>
  <a class=" s_submit_button" href='/exit' > выход<a/>
  </div>
  
 </div>