
  <% if @tusa %>
  
  <div class='css_margin post'>
    
   <h3>Ваша заявка принята</h3> <br>
      Ждите нашего звонка!
  
    <br><br>
    
 </div>
  <a class="css_button_menu onepix" href="/"> Перейти в ленту новостей</a>
     <br><br>
     
  <% else %>
  
   <div class='css_margin post'>
    
   <h3>Привет всем! </h3> <br>
   
   Приглашаю вас на оффлайновую встречу будущих стартаперов Находки. <br><br>

<b>Зачем мне приходить на стартап-тусовку?</b> <br><br>

1) для того чтобы окружить себя активными и  стремящимися к успеху людьми<br>
2) для того чтобы обменяться идеями для стартапов <br>
3) для того чтобы найти партнеров для совместного старта проекта <br>
<br>
<b>Где будут проходить встречи стартаперов? </b><br><br>

Встречи будут проходить в антикафе "Квадрат". <br><br>

<b>Когда? </b><br><br>

Первая встреча состоится тогда, когда наберется 10 заявок на встречу. <br><br>

<b>А это платно?</b> <br><br>

Только в части оплаты времени вашего нахождения в анитикафе. Владельцы антикафе "Квадрат" берут с каждого посетителя 2 рубля в минуту за право находиться 
в своем заведении. Если хотите бесплатно - организуйте встречу стартаперов у себя дома:)
 
   
   <br><br>

<b>Как записаться на встречу?</b> <br><br>

Для того чтобы записаться на встречу введите 
 
   
   свое имя и телефон:<br>
   
  
  
  <form method="POST" action="/api/new_tusa" class="js_tusa_add"  >
              
              <br>
                <label >Имя</label> <br>
                <input name="name" type="text" class="form-control  " placeholder=""
                value="<%= @current_user.name if @current_user %>">
                <br> <br>
                <label >Телефон</label> <br>
                 <input name="tel" type="text" class="form-control  " placeholder="">
                
               <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <br> <br>
				 
				 <div class='send'>
                <button type="submit" class=" css_button_menu wide onepix">Записаться</button> 
                </div>
                
                <div class='send_text'>
                 
                </div>
                   <br>
    </form>
                
              
   <br><br>
  
<% end %>