<div class="req_logo_2">
    <div class="g_inner_logo">
        <div class="logo_name" >  </div>
    
    <div class="req_button_div">
      <a href='/' class="req_button req_button_view ">на главную</a>
      </div>
    
     
     
     
  </div>  
</div>