<div class="req_logo_1 test_height">
<div class="g_inner_logo">
  <img class="test_logo_ava" src="<%= image_path("sunny6.jpg") %>">
</div>

<div class="test_logo_name">#юля_поговори_с_нами</div>
<div class="test_req_logo_text">Просим Юлю Липницкую <br>
провести трансляцию в перископе!</div>
  
 <div class="test_logo_name"><span style='font-size:20px;'>сбор голосов на сайте</span> <br>sunny5.ru
 
 <br>
 <br>
 
 </div>
  
</div>