<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Для входа в социальную сеть Viki5 </h1>
   
    
    <p>
     перейдите по данной ссылке: <a 
      href = 'http://inviainvest.ru/login/<%= @token %>'>ссылка для входа в Viki5</a>
    </p>
    
  </body>
</html>