<h2>Вечеринки в Music Park</h2>

<iframe frameborder="0" 
src="https://www.youtube.com/embed/bZAqu3cO23c?autohide=1&amp;rel=0">

</iframe>

<div class="lite_cont">
  
  
    <a class="lite_button" href='#'>Присоединиться</a>
    
  <div class="lite_form">
    
    <div class="css_fon">
      
  
    <form method="POST" action="/lite/add/musicpark" class="js_lite_submit"  >
              
              Для того чтобы присоединиться к проекту введите свое имя и телефон
              <br><br>
               
               <label >Имя</label> <br>
                <input name="name" type="text" class="form-control" placeholder="">
                <br> <br>
                <label >Телефон</label> <br>
                <input name="tel" type="text" class="form-control  " placeholder="">
                
               <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
               
				 
				 <div class='send'>
                <button type="submit" class="lite_button_submit">Готово</button> 
                </div>
                
                
                   <br>
    </form>
  
  
   </div> 
    
    
    
  </div>
  
  
</div>

<hr class=css_hr>

<h2>Прогулки с гитарой</h2>

<iframe frameborder="0" 
src="https://www.youtube.com/embed/xpiaLpuwK4k?autohide=1&amp;rel=0">

</iframe>

<div class="lite_cont">
  
  
    <a class="lite_button" href='#'>Присоединиться</a>
    
  <div class="lite_form">
    
    <div class="css_fon">
      
  
    <form method="POST" action="/lite/add/gitar" class="js_lite_submit"  >
              
              
              Для того чтобы присоединиться к проекту введите свое имя и телефон
              <br><br>
               
               <label >Имя</label> <br>
                <input name="name" type="text" class="form-control  " placeholder="">
                <br> <br>
                <label >Телефон</label> <br>
                <input name="tel" type="text" class="form-control  " placeholder="">
                
               <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
               
				 
				 <div class='send'>
                <button type="submit" class="lite_button_submit">Готово</button> 
                </div>
                
                
                   <br>
    </form>
  
  
   </div> 
    
    
    
  </div>
  
  
</div>

<hr class=css_hr>