<div class=css_hr2> </div>
     
 <div class=margin10>    
     
     <div class=" s_login_form" style='display: none'>
      
      
       <form method="POST" action="/enter" class="email_enter"  >
      
       
                  <br>
                <label class=""  >Для входа введите Ваш e-mail</label> <br><br>
                <input name="email" style='width: 300px' type="text" class="s_form_input" placeholder="">
         
               <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
               
		



            <br>
                <button type="submit" style="margin-left:0px" class="js_test s_submit_button">ГОТОВО</button> 
          
           
            </form>
             <br>
           
               
             <label class=""  >Или войдите с помошью соцсетей</label><br><br> 
                 
                 
               
                 <a class="s-001"  href="/auth/facebook"></a>
                 <a class="s-002"  href="/auth/vkontakte"></a>
                 <a class="s-003"  href="#"></a>
                
                 
                 
                 
             
             <br>
     </div>
     
  </div>  