
  
   <div class='css_margin post'>
   <h3>апи</h3> <br>
      
   
  
   https://academy.yandex.ru/events/webmasters_school/yawebm2015/<br> <br>
   
   In a 
   <span class="word">tightly
<div class="descr">
Какой-то текст который должен быть в блоке<br>
<a href="#">Интересная ссылка</a><br><br>
</div>
</span>
   
    
   
   packed tent on a rainy Las Vegas night,
   Faraday Future made its first unveiling to the world.
   The new electric vehicle startup is still a “couple years”
   away from launching its first production vehicle, but it’s not
   afraid of setting up some lofty expectations.<br> <br>
   
“Tesla and Elon Musk have created something we should 
all applaud them for,” said Nick Sampson, a senior vice 
president at Faraday and a former Tesla engineer, onstage 
at the launch event. “But Tesla was founded in 2003. 
Five years later, they produced the limited production Roadster, 
based on the Lotus platform. Seven years after founding, 
they began work on their first volume production factory and had 600 employees.
And then after 9 years, they delivered their first mass market production vehicle.
Tesla Motor moved at breakneck speed compared to the rest of the auto industry.”<br> <br>

“But let me tell you about where we are today,” Sampson continued.
“Faraday Future was founded just 18 months ago. 
In that short year and a half, we already have a staggering 750 employees globally,
breaking ground on a 3 million square foot factory in just a few weeks, 
and we will deliver our first production vehicle in only a couple years time.
All of this in 18 months now, I’d call that very fast.”
   
   
   <br> <br><br> <br>
   
   <br> <br>
   
  
   </div>
   
   <div class="css_enter ">
      
      
       <form method="POST" action="/enter" class="email_enter"  >
      
        <table><tr><td width=100px></td><td>
                  <br>
                <label class="css_label_enter"  >Для входа введите Ваш e-mail</label> <br><br>
                <input name="email" style='width: 300px' type="text" class="form-control" placeholder="">
              <br><br>
               <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
               
			</td><td>



            <br>
                <button type="submit" class="js_test css_button_menu enter wide burger">ГОТОВО</button> 
           </td></table>
           
           
              
        
            </form>
            <br>
     </div>