
.overlay {
    min-width: 600px;
    background-color: #8566C4;
    background-image: linear-gradient(-10deg, #8566C4 0%, #56A3E9 100%);
    
    
    
    height: 70px;
}

.top_line{
    
    height: 65px;
    
}



a {
    color: #428bca;
    text-decoration: none;
}

.overlay nav {
    min-width: 600px;
    position: relative;
   
    text-align: center;
    font-size: 45px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    margin-bottom: 0px;
}
.overlay ul li {
    display: block;
    float: left;
    margin-right: 20px;
    
}
.overlay ul li:last-child {
    margin-right: 0px;
}

.overlay ul li a {
    display: block;
    padding: 20px 0;
    min-width: 100px;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #4F6DA9;
     /* background-color: #345271; */
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    /* -webkit-transition: all 300ms ease-in-out; */
    transition: all 100ms ease-in-out;
    
     font-family: 'Nunito', sans-serif;
     
}

.overlay ul li i {
    display: block;
    margin-bottom: 10px;
    font-size: 30px;
}

.main i {
    display: block;
    width: 40px;
    float: left;
    height: 20px;

}

.main i:hover {
   
    color: #424242;
   
}



.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.wide_logo {
    min-width: 600px;
     height: 50px;
     background-color: #8566C4;
    background-image: linear-gradient(10deg, #56A3E9 0%,  #8566C4 100%);
}

#menu {
	padding: 0;
	margin: 0;
margin: 0 auto;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
    
    font-size: 12px;
	}
#menu li {
	list-style: none;
	float: left;
	height: 50px;
	padding: 0;
	margin: 0;
	width: 200px;
	text-align: center;
	
	position: relative;
			transition: all 100ms ease-in-out;
	
	
	}
#menu li ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 200px;
	display: none;
	position: absolute;
	left: 0;
	top: 50px;
	}
#menu li ul li {
	float: none;
	height: 50px;
	margin: 0;
	width: 200px;
	text-align: center;
	/* background: #7F7F7F; */
	background: #4F6DA9;
		transition: all 100ms ease-in-out;
	}
#menu li a {
	display: block;
	width: 200px;
	height: 50px;
	color: #fff;
	text-decoration: none;
	padding-top: 12px;

	}
#menu li:hover ul {
	display: block;
	}
#menu li:hover {
	background: #424242;
	background: #FF6400;
	}
	
	
.s_login_form{
    width: 600px;
    margin: 0 auto;
}

.s_form_input{
    border: 1px solid #cccccc;
    height: 32px;
    font-size: 16px;
    line-height: 1.42857;
    color: #555555;
    vertical-align: middle;
    background-color: white;
    background-image: none;
    outline: none;
   font-family: 'Open Sans', sans-serif;
   padding-left: 10px;
}


.s_form_input:focus {
  
  border: 1px solid #8566c4;
}

.s_submit_button{
 font-size: 16px;
 font-family: 'Open Sans', sans-serif;
text-decoration:none; 
 text-align:left; 
 padding:11px 32px; 
 border:none; 
 -webkit-border-radius:29px;
 -moz-border-radius:29px; 
 border-radius: 29px; 
     margin-top: 22px;
 font-weight:bold; 
 color:#ffffff; 
 background-color:#4F6DA9; 
 cursor: pointer;
 width: 300px ;
 margin-left:30px;
 
 
}

.s_submit_button:hover{

 /* background-color:#56a2e9; 
 background-image: -moz-linear-gradient(top, #56a2e9 0%, #8566c4 100%); 
 background-image: -webkit-linear-gradient(top, #56a2e9 0%, #8566c4 100%); 
 background-image: -o-linear-gradient(top, #56a2e9 0%, #8566c4 100%); 
 background-image: -ms-linear-gradient(top, #56a2e9 0% ,#8566c4 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8566c4', endColorstr='#8566c4',GradientType=0 ); 
 background-image: linear-gradient(top, #56a2e9 0% ,#8566c4 100%);   
 background:#8566c4;
 */
 
 background:#FF6400;
  
 }
 
 .yellow{
   
    background-color:  #FF6400 !important;
   
}

.topmenu:hover{
   
    background-color:  #FF6400 !important;
   
}