<br>
   <div style='color:white'> Мы выслали вам на е-мэйл ссылку для входа<br>
   для того чтобы войти в сеть, перейдите по данной ссылке
   </div>
    
   
     
   <br><br>
   <a class="css_blog_menu" href="<%=@email_url %>">ПРОВЕРИТЬ ПОЧТУ
                </a>