<form enctype="multipart/form-data" method="POST" action="/new_inst" class=" s_login_form" accept-charset="UTF-8" >
              
             
               
                <input type="file" name="inst" class="inst_input" style='display: none' >
                
               
                
               <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
               
				 <div class='send'>
                <button style='display: none' type="submit" class="js_send_inst_input css_button_menu wide onepix">Отправить</button> 
                </div>
                
                
                   
</form>


