<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin,cyrillic" rel="stylesheet" type="text/css">

</head>
<body>
  
  <div class="logo_line ">
      
      
       
       
       
    
           
            <br>
            <br>
            <br>
           
              
        
          
            <br>
     </div>
     
     
   
  
<div class="main"> 
   <div class="btn one"> </div> 
   <div class="btn two"> </div> 
   <div class="btn three"> </div> 
   <div class="btn four"> </div>  
  




    <br>
    
    
    
   

<div style='clear:both'>СОЧИ ЛЭЙАУТ </div> 
  
<%= yield %>

  </div>
  
</body>
</html>
